*{
    color: whitesmoke;
}
.logo{
    height: 50px;
}

.tartalom{
    width: 80%;
    margin: auto;
    background-color: rgba(42, 184, 209, 1);
}

.kep{
    width: 100%;
    
}

.jobbkep{
    width: 300px;
    border-radius: 20px 20px 0 0;
}

body{
        background-color: #abdbe3;
}

h1,h2{
    text-align: center;
    margin: 20px;
}

figure{
    float: right;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 30px 20px 30px;
}

footer{
    text-align: center;
    background-color: rgba(106, 168, 227, 0.8);
    padding: 10px;
}

table{
    text-align: center;
    width: 700px;
}

p{
    margin: 20px;
}

caption{
    caption-side: top;
    text-align: center;
    font-size: 28px;
}

figcaption{
    text-align: center;
}